 <!-- <div class="user-details"> -->
  <div>
  
  <div class="user-projects">
    <h1 style="text-align: center;"> ABOUT ME</h1>
    <div class="images-right">
      <img alt="work" src="/assets/img/work.jpg"/>
    </div>
    <div class="contents">
      <p> I am an aspiring software engineer who is passionate around solving business problems through innovation and engineering practices.
        I am a DOER. I believe the only way to predict the future is to build it. My core belief is that knowledge is ever growing and holds power; you always have to strive to learn 
      all the things around you to understand the things around you to solve and enhance the community you live in.</p>
    </div>
  </div>
  
  <div class="user-projects">
    <h1 style="text-align: center;">ACHIEVEMENTS</h1>
    <div class="images-right">
      <a href="http://www.miu.edu/assets/achievements/2020_09_21.html">Here is an article about me<br>
        <img alt="achievement" src="/assets/img/achievement2.PNG" width="500px" height="500px"/></a>
    </div>
    <div class="contents">
      <ul>
        <li>Second Place - Changemakers Shark Tank-like Event featuring Kevin Harrington</li>
        <li>Trustees' Scholarship from Maharishi International University 2020</li>
        <li>Scholarship from Whatcom Community College 2015</li>
        <li>Scholarship from University Of Technology and Education 2014</li>
      </ul>
    </div>
  </div>
  <!-- <div class="user-projects">
    <img alt="work" src="/assets/img/work.jpg"/>
  </div>
  <div>
    <p> I am an aspiring software engineer who is passionate around solving business problems through innovation and engineering practices.
      I am a DOER. I believe the only way to predict the future is to build it. My core belief is that knowledge is ever growing and holds power; you always have to strive to learn 
    all the things around you to understand the things around you to solve and enhance the community you live in.</p>
    <p><a href="http://www.miu.edu/assets/achievements/2020_09_21.html">Here is an article about me<br>
      <img alt="achievement" src="/assets/img/achievement2.PNG" width="500px" height="500px"/></a></p>
    
  </div> -->
  <div>
    <h1 style="text-align: center;">SKILLS AND ABILITIES</h1>
    <ul>
      <li>Understanding of architecture and design across all systems</li>
      <li>Knowledge of industry-wide technology trends and best practices</li>
      <li>Passionate about building an innovative culture</li>
      <li>Proficiency in modern programming languages: Java</li>
      <li>Understanding of software skills such as business analysis, development, maintenance, and software improvement</li>
      <li>Computer Science fundamentals in object-oriented design, data structures, algorithm design, problem solving, and complexity analysis</li>
      <li>Coding skills in Java coupled with strong base in object-oriented design and development</li>
      <li>Experience with UI frameworks such as Spring MVC</li>
      <li>Experience in software development and full product life-cycles</li>
      <li>Knowledge of unit and integration testing methodologies, and the ability to write, debug and deploy testing frameworks</li>
      <li>Experience with traditional RDBMS databases, such as MySQL</li>
      <li>Have a hungry entrepreneurial and "can do" spirit, as evidenced by successful interest in learning new technologies.</li>
    </ul>
  </div>
</div>
  <div class="user">
    <div class="tech">
      <h2>PROGRAMMING LANGUAGES & TOOLS</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-html5-plain-wordmark"></i>
      <!-- <i class="devicon-sass-original colored"></i> -->
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-angularjs-plain colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-c-plain colored"></i>
    <i class="devicon-csharp-plain colored"></i>
    <i class="devicon-cplusplus-plain colored"></i>
    <i class="devicon-php-plain colored"></i>
    <i class="devicon-android-plain colored"></i>
    <i class="devicon-git-plain-wordmark colored"></i>
    <i class="devicon-intellij-plain colored"></i>
    <i class="devicon-visualstudio-plain colored"></i>
    <i class="devicon-mysql-plain-wordmark colored"></i>
    <i class="devicon-tomcat-line-wordmark colored"></i>
    <i class="devicon-wordpress-plain colored"></i>
    </div>
</div>
