 <!-- <div class="user-details"> -->
  <div>
  <h1 style="text-align: center;"> About Me </h1>
  <p> I am a software engineer who are passionate around solving business problems through innovation and engineering practices.
  My special focus is in Java (Spring Boot). <br>
  I am a DOER. I believe the only way to predict the future is to build it. My core belief is that knowledge is ever growing and holds power; you always have to strive to learn 
all the things around you to understand the things around you to solve and enhance the community you live in.</p>
<p> Here is an article about me: </p>
<h1 style="text-align: center;">Achievements</h1>
<ul>
  <li>Second Place - Changemakers Shark Tank-like event 2020</li>
  <li>Trustees' Scholarship from Maharishi International University 2020</li>
  <li>Scholarship from University Technology and Education 2015</li>
</ul>
</div>
  <div class="user">
    <div class="tech">
      <h2>PROGRAMMING LANGUAGES & TOOLS</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-html5-plain-wordmark"></i>
      <!-- <i class="devicon-sass-original colored"></i> -->
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-angularjs-plain colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-c-plain colored"></i>
    <i class="devicon-csharp-plain colored"></i>
    <i class="devicon-cplusplus-plain colored"></i>
    <i class="devicon-php-plain colored"></i>
    <i class="devicon-android-plain colored"></i>
    <i class="devicon-git-plain-wordmark colored"></i>
    <i class="devicon-intellij-plain colored"></i>
    <i class="devicon-visualstudio-plain colored"></i>
    <i class="devicon-mysql-plain-wordmark colored"></i>
    <i class="devicon-tomcat-line-wordmark colored"></i>
    <i class="devicon-wordpress-plain colored"></i>
    </div>
</div>
<!-- <div class="user">
  <div class="tech">
    <h2>Code</h2>
    
  </div>

</div>
<div class="user">
  <div class="tech">

    <h2>Tools</h2>
    
  </div>
</div> -->
