  <div>
    <div class="user-projects">
      <h3 style="text-align: center;"> ABOUT ME</h3>
      <div class="images-right">
        <img alt="work" src="/assets/img/work.jpg"/>
      </div>
      <div class="contents">
        <p> I am an aspiring software developer who is passionate around solving business problems through innovation and engineering practices.</p>
        <p>We all know there will be new devices, new programming languages, and new approaches tomorrow that don't exist today.
        Technology is constantly evolving and changing, and it can be incredibly difficult to stay up-to-date. With a CAN DO attitude, I will be able to grasp new technology as quickly as how constanly technology changing. 
        </p>
      </div>
      <div><p>My core belief is that knowledge is ever growing and holds power; you always have to strive to learn 
        all the things around you to understand the things around you to solve and enhance the community you live in.</p>
        <p>I am trying to put my knowledge into good use. In my free time, I like to make videos for my Vietnamese friends about my life in the US while teaching them English phrases I have learned.</p>
        <p>Meditation makes me a better programmer. In the world of programming, we often need focused attention when building programs and writing code 
          without repetitions. Being in this mode, I fully experienced that "coding high" of writing functions that make or do things
          to achieve a bigger goal.
        </p></div>
    </div>
  </div>
  <hr>
  <div>
    <div class="user-details">
      <h3>ACHIEVEMENTS</h3>
    </div>
    <div class="user-projects">
      <div class="images-right">
        <a href="http://www.miu.edu/assets/achievements/2020_09_21.html">Here is an article about me<br>
          <img alt="achievement" src="/assets/img/achievement2.PNG" width="500px" height="500px"/></a>
      </div>
      <div class="contents">
        <ul>
          <li>Second Place - Changemakers Shark Tank-like Event featuring <a href="https://kevinharrington.tv/about-kevin/">Kevin Harrington</a></li>
          <li>Trustees' Scholarship from Maharishi International University 2020</li>
          <li>Scholarship from Whatcom Community College 2015</li>
          <li>Scholarship from University Of Technology and Education 2014</li>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </ul>
      </div>
    </div>
  </div>
  <hr>
  <div>
    <div class="user-details">
      <h3>SKILLS AND ABILITIES</h3>
    </div>
    <div>
      <ul>
        <li>3+ years of software development and degree in Computer Science</li>
        <li>Strong proficiency in Java8+ and SpringBoot and other Spring modules like Spring MVC, Spring Integration with 2+ years hands on development</li>
        <li>Experienced with front end technologies such as HTML, CSS, Bootstrap, Angular, Jquery, Ajax, JSON and JavaScript</li>
        <li>Understanding of architecture and design across all systems</li>
        <li>Knowledge of industry-wide technology trends and best practices</li>
        <li>Understanding of software skills such as business analysis, development, maintenance, and software improvement</li>
        <li>Knowledge of unit and integration testing methodologies, and the ability to write, debug and deploy testing frameworks</li>
        <li>Experience with traditional RDBMS databases, such as MySQL</li>
        <li>Have a hungry entrepreneurial and "can do" spirit, as evidenced by successful interest in learning new technologies.</li>
      </ul>
    </div>
  </div>
  <hr>
  <div>
    <div class="user-details">
      <h3>EDUCATION</h3>
    </div>
    <div>
      <ul>
        <li>Maharishi International University-2020 Bachelor's in Computer Science</li>
        <li>University of Technology and Education-2015 Bachelor's in Computer Science</li>
      </ul>
    </div>
    <div>
    </div>
  </div>
  <hr>
  <div class="user">
    <div class="tech">
    <h3>PROGRAMMING LANGUAGES & TOOLS</h3>
    <i class="devicon-java-plain-wordmark colored"></i>
    <i class="devicon-bootstrap-plain-wordmark colored"></i>
    <i class="devicon-html5-plain-wordmark"></i>
    <i class="devicon-css3-plain-wordmark colored"></i>
    <i class="devicon-angularjs-plain colored"></i>
    <i class="devicon-javascript-plain colored"></i>
    <i class="devicon-php-plain colored"></i>
    <i class="devicon-git-plain-wordmark colored"></i>
    <i class="devicon-intellij-plain colored"></i>
    <i class="devicon-visualstudio-plain colored"></i>
    <i class="devicon-mysql-plain-wordmark colored"></i>
    <i class="devicon-tomcat-line-wordmark colored"></i>
    <i class="devicon-wordpress-plain colored"></i>
    </div>
</div>
