<div class="user-details">
  <h3>FEATURED PROJECTS</h3>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="nail" src="/assets/img/nail.PNG"/>
  </div>
  <div class="contents">
    <h3> Beauty Salon Management System </h3>
    <p>Featured Skills: Spring Boot, Hibernate, Thymeleaf, Bootstrap</p>
    <p>A beauty salon management system helps manage daily tasks, financial, employees and customers.</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="nail" src="/assets/img/barcode.JPG"/>
  </div>
  <div class="contents">
    <h3> Barcode Inventory System </h3>
    <p>Featured Skills: Spring Boot, Hibernate, Thymeleaf, Bootstrap</p>
    <p>A Barcode Inventory System helps manage inventory using barcode scanner to keep track of products in and out in the warehouse.</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="nail" src="/assets/img/maze.PNG"/>
  </div>
  <div class="contents">
    <h3> Maze </h3>
    <p>Featured Skills: Javascript, Bootstrap</p>
    <p>A mini-game using Javascript. Just for fun and practice coding purpose.</p>
  </div>
</div>

